version: '3.8'
services:
  db:
    image: arm64v8/mysql:oracle
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - tempconverter-cloud
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASS
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $DB_PASS

  web:
    image: darwin0id/tempconverter-app:latest
    depends_on:
      - db
    networks:
      - tempconverter-cloud
    ports:
      - '5000:5000'
    environment:
      DB_HOST: db
      DB_NAME: $DB_NAME
      DB_USER: $DB_USER
      DB_PASS: $DB_PASS
      STUDENT: $STUDENT
      COLLEGE: $COLLEGE

volumes:
  db_data:

networks:
  tempconverter-cloud:
    driver: overlay
