version: '3.8'
services:
  db:
    container_name: ${PROJECT_NAME}_db
    image: mysql:8.0.33
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - development
    env_file:
      - .env
  
  web:
    container_name: ${PROJECT_NAME}_app
    build:
      context: .
      dockerfile: .docker/Dockerfile.app
    restart: always
    depends_on:
      - db
    networks:
      - development
    ports:
      - '${APP_PORT}:${APP_PORT}'
    env_file:
      - .env

  nginx:
    container_name: ${PROJECT_NAME}_nginx
    image: nginx:latest
    volumes:
      - .proxy/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
    networks:
      - development
    depends_on:
      - web
    restart: always

volumes:
  db_data:

networks:
  development:
    driver: bridge
